/*SELECTOR CUERPO*/
body{
    /*BLOQUE DE DECLARACIONES*/
    background-color: yellow;/*COLOR DE FONDO*/
    color: purple; /*COLOR DE LA TIPOGRAFIA*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/*CAMBIAR FORMATO DE TIPOGRAFIA*/
    font-size: 3em;/*CAMBIAR EL TAMAÑO DE LA TIPOGRAFIA*/
    text-align: center;/*ORIENTACIÓN*/
}

h1{
    background-color: aqua;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: left;
}

h2{
    background-color: black;
    color: lightgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
    text-align: right;
}
/*IMAGENES*/
img{
    width: 400px; /*ANCHO*/
    height: 300px; /*ALTO*/
}
/*CLASES*/
.img2{
    width: 30%;
    height: 30%;
            /*EJE Y*/  /*EJE X*/
    padding: 100px      100px;
}

/*VIDEOS*/