/*SELECTOR CUERPO*/
body{
    /*BLOQUE DE DECLARACIONES*/
    background-color: yellow;/*COLOR DE FONDO*/
    color: purple; /*COLOR DE LA TIPOGRAFIA*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/*CAMBIAR FORMATO DE TIPOGRAFIA*/
    font-size: 3em;/*CAMBIAR EL TAMAÑO DE LA TIPOGRAFIA*/
    text-align: center;/*ORIENTACIÓN*/
}

h1{
    background-color: aqua;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: left;
}